<!DOCTYPE html>
<html>

<head>
	<title>demo</title>
</head>

<body>
	<div id="app">
		<input type="number" v-model="a" number /> +
		<input type="number" v-model="b" number />
		<h1>Result {{a}} + {{b}} = {{c}}</h1>
	</div>

	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>

	<script type="text/javascript">
		new Vue({
			el: '#app',
			data: {
				a: 1,
				b: 1
			},
			computed: {
				c: function() {
					return parseFloat(this.a) + parseFloat(this.b)
				}
			}
		});
	</script>

</body>

</html>